services:
  db:
    image: postgres:16
    restart: unless-stopped
    environment:
      POSTGRES_DB: clientes
      POSTGRES_USER: app
      POSTGRES_PASSWORD: app
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
volumes:
  pgdata:
